.screen-header {
  padding: var(--horizontal-space);
  padding-top: 50px;
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.screen-header__title {
  font-size: 32px;
  font-weight: 600;
}

.screen-header__icons span {
  margin-left: 20px;
  position: relative;
}

.screen-header__dot--find {
  position: absolute;
  left: 68px;
  bottom: 24px;
}
.screen-header__dot--more {
  position: absolute;
  left: 113px;
  bottom: 24px;
}
